:root {
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;

    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

img{
    display: block;
    width: 100%;
    border-radius: 28px;
}


.container {
    max-width: 1120px;
    margin: auto;
    padding: 20px;
}